.container-tables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}
h2 {
  margin-bottom: 0;
}

th,
td {
  padding: 2px;
  text-align: center;
  border: 1px solid black;
  width: 2rem;
}

.green {
  background-color: rgb(149, 250, 149);
}

.yellow {
  background-color: rgb(245, 245, 157);
}

.orange {
  background-color: rgb(255, 224, 168);
}

.red {
  background-color: rgb(245, 147, 147);
}

.blue {
  background-color: rgb(113, 197, 245);
  color: white;
}
